<div class="tagline-wrapper">
  <p class="tagline">  Your smart, streamlined solution for managing employee data with ease and precision.</p>
</div>

<div class="description">
  Transform the way you manage employee records — secure, efficient, and beautifully simple.
</div>

<div class="container">
  <header>
    <h1>EmpHub</h1>
    <p class="subtitle">
      Welcome to the Employee Database Web Application to view all the staff in your company
    </p>
  </header>

  <nav>
    <button routerLink="/employees">View Employees</button>
    <button routerLink="/add-employee">Add Employee</button>
  </nav>

  <main>
    
  </main>
</div>

